.largerThenParent {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.typeCards {
  width: 13em;
  border-radius: 15px 15px 15px 15px;
  background-size: 101%;
  text-align: center;
  margin-right: 4em;
}

.selected {
  border-color: #4BBEE3;
  border-width: 5px;
}

.circle {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.picker {
  font-size: 1.5em;
  background: none;
  margin-top: 7px;
  width: 135px;
  font-weight: 500;
}

.invalidDate {
  border: solid #E53E3E;
  border-radius: 6px;
  border-width: 2px;  
  padding: 4px;
}